name: Extract Case PDFs

on:
  push:
    paths:
      - '**.html'
  workflow_dispatch:

jobs:
  run-parser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Libraries
        run: pip install beautifulsoup4 pandas tabulate lxml
      - name: Extract Table
        run: python convert.py
      - name: Push to README
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update: Judgments table with Neutral Citation PDF links"
          file_pattern: 'README.md'
